{
    "GOOGLE_DRIVE_CLIENT_ID":"xxxxxx.apps.googleusercontent.com",
    "GOOGLE_DRIVE_CLIENT_SECRET":"xxxxxx",
    "GOOGLE_DRIVE_REFRESH_TOKEN":"xxxxxx",
    "GOOGLE_DRIVE_TEAM_DRIVE_ID":null,
    "GOOGLE_DRIVE_SHARED_FOLDER_ID":null
}
