<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="Flysystem Google Drive Adapter Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>
    <logging>
        <junit outputFile="build/junit.xml"/>
        <teamcity outputFile="build/teamcity.txt"/>
        <testdoxHtml outputFile="build/testdox.html"/>
        <testdoxText outputFile="build/testdox.txt"/>
        <testdoxXml outputFile="build/testdox.xml"/>
        <text outputFile="build/logfile.txt"/>
    </logging>
</phpunit>
